/* Header styles strat */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px 96px;
  padding: 0 26px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-underline-offset: 4.5px;
}

.header__logo {
  width: 148px;
  height: 105px;
  position: flex;
  justify-content: center;
  text-align: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 44px;
}

.header__menu-item {
  position: relative;
}

.header__menu-item+.header__menu-item::before {
  content: '';
  position: absolute;
  border: 1px solid;
  border-radius: 100px;
  bottom: 6px;
  left: -20px;
  height: 7px;
  width: 7px;
}

.header__addinfo {
  margin-top: 5px;
  margin-right: 26px;
  flex-direction: column;
  justify-self: end;
}

/* Header styles end */


/* Cover styles strat */

.cover {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  margin: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  position: relative;
  word-spacing: 0.6em;
  /* letter-spacing: 0.3em; */
}

.cover_title span {
  letter-spacing: 0;
}

.accent__span {
  white-space: nowrap;
}

.text-start {
  position: absolute;
  padding: 165px 734px 477px 50px;
}

.text-center {
  position: absolute;
  padding: 300px 395px 357px 336px;
}

.text-end {
  position: absolute;
  padding: 420px 50px 237px 633px;
}

.cover__description {
  color: #fff;
}

.cover__description-text {
  position: absolute;
  line-height: 28px;
  font-size: 0.8em;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 667px 385px 62px 78px;
}

.cover__description-text__word__spacing {
  word-spacing: calc(90 * 0.01em);
}

.cover__description--bet-button {
  position: absolute;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  outline: 1px solid white;
  width: 256px;
  height: 51px;
  background: transparent;
  color: #fff;
  margin: 655px 50px 51px 794px;
  padding: 12px 32px 11px 31px;
  line-height: 28px;
  font-size: 0.8em;
  font-weight: lighter;
}

/* Cover styles end */


/* Lots styles start */

.lots {
  height: 692px;
  width: 1052px;
  margin: 179px 20px 146px 20px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.lots__card-list {
  margin-top: 27px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.first__card {
  height: 563px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 51px 40px 48px 40px;
}

.second__card {
  height: 563px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 51px 40px 48px 40px;
}

.third__card {
  height: 563px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 51px 40px 48px 40px;
}

.card__title {
  text-transform: uppercase;
  line-height: 120%;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* Lots styles end */

/* About styles start */

.about {
  margin: 146px 24px 180px 24px;
}

.about__columns {
  margin: 146px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;

}

.about__logo {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: black;
  padding: 63px 46px 63px 46px;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;

  padding-top:101px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  padding-top: 100px;
}

.about__text p {
  margin-bottom: 24px;
}

/* About styles end */


/* Footer styles start */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin:180px 50px 88px 50px;
  padding-bottom: 50px;
  font-size: 18px;
}

.footer__addinfo {
  text-underline-offset: 4.5px;
  flex-direction: column;
}

.footer__menu {
  text-align: center;
  flex-direction: column;
}

.footer__social-list{
  list-style: none;
  display: flex;
  justify-content: end;
}

.footer__social-list li {
  display: inline-block;
}

.footer__social-list-item {
  height: 48px;
  width: 48px;
  margin-left: 48px;
}

/* Footer styles end */